<div class="nosotros">
<div class="row">
    <div class="col-sm-6">
        <div class="tittle">
            <h2 class="featurette-heading fw-normal geometric lh-1">Nosotros</h2>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>
</div>

    <!-- ======= About div ======= -->
    <div id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="imgBenelli">
                        <img class="img-rounded" src="assets/nosotros/hector.jpg" alt="">
                        <p class="lead">Hector Benelli, Fundador</p>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                        <h2 class="featurette-heading fw-normal geometric lh-1">Nuestra historia</h2>
                        <br>
                        <p class="lead">
                            Su perseverancia y espíritu emprendedor lo llevaron a expandir su presencia en todo el país,
                            llegando a casi todas las provincias.

                            <br>

                            En la década del 90, dio sus primeros pasos en la industria textil con la fabricación de
                            Hilo Pulido, utilizado en el atado de productos cárnicos. Con el tiempo, adquirió maquinaria
                            textil y contrató personal capacitado para la fabricación de este producto. El éxito de este
                            nuevo emprendimiento le permitió no solo abastecer el mercado frigorífico con hilo pulido,
                            sino también suministrar hilos de atar a papeleras, hilos pabilo a fábricas de velas, hilos
                            de encañar y enfardar a tabacaleras, y otros artículos textiles para tejido.

                            <br><br>

                            Paralelamente, la marca BENELLI también se hizo reconocida en la industria alimenticia con
                            productos como aditivos integrales para chorizos, salames, hamburguesas, milanesas, jamón,
                            bondiola, ligantes para matambre, emulsionantes, estabilizantes y antioxidantes utilizados
                            en productos cárnicos y otros artículos del rubro.

                            <br><br>

                            En el nuevo milenio, la fábrica se reubicó en su ubicación actual, cerca de la Municipalidad
                            de Lanús. El 21 de septiembre de 2021, tras el fallecimiento de Hector, su hija Karen
                            Benelli asumió el liderazgo y continúa administrando la empresa con dedicación y siguiendo
                            el ejemplo de su padre.

                            <br><br>

                            Este continuo crecimiento no hubiera sido posible sin la confianza y el apoyo de todos
                            nuestros clientes, quienes utilizan nuestros productos en todo el país y en diferentes
                            mercados. Agradecemos a nuestros clientes por confiar en nuestros productos y ser parte de
                            nuestro crecimiento. Seguimos comprometidos en brindar productos de calidad y satisfacer las
                            necesidades de diferentes sectores y mercados.
                            <br>
                            <br>

                            ¡Gracias por ser parte de nuestra historia!
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End About div -->