<!-- TABLE -->
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Administrador</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado del Correo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of usuarios | paginate: { itemsPerPage: 30, currentPage: x }">
          <!-- Columna Administrador (UID y DisplayName) -->
          <td>
            <br> <b>Nombre:</b> {{ admin.displayName }}
          </td>

          <!-- Columna Correo Electrónico -->
          <td>
            {{ admin.email }}
          </td>

          <!-- Columna Rol -->
          <td>
            {{ admin.role | titlecase }}
          </td>

          <!-- Columna Estado del Correo -->
          <td>
            <div [ngSwitch]="admin.emailVerified">
              <div *ngSwitchCase="true">
                <span class="badge bg-success">Verificado</span>
              </div>
              <div *ngSwitchCase="false">
                <span class="badge bg-danger">No Verificado</span>
              </div>
            </div>
          </td>

          <!-- Columna Acciones -->
          <!-- Columna Acciones -->
          <td>
            <div [ngSwitch]="admin.status">

              <div class="row">
                <div class="col-sm-6">
                  <!-- Si el estado es Inactive -->
                  <div *ngSwitchCase="EStatus.INACTIVE">
                    <mat-slide-toggle (click)="update(admin, EStatus.ACTIVE)">
                      <i class="fa-solid fa fa-toggle-off"></i>
                      <span class="badge bg-danger">Deshabilitado</span>
                    </mat-slide-toggle>
                  </div>

                  <!-- Si el estado es Active -->
                  <div *ngSwitchCase="EStatus.ACTIVE">
                    <mat-slide-toggle checked="checked" (click)="update(admin, EStatus.INACTIVE)">
                      <i class="fa-solid fa fa-toggle-on"></i>
                      <span class="badge bg-success">Habilitado</span>
                    </mat-slide-toggle>
                  </div>

                  <!-- Si el estado es Suspended -->
                  <div *ngSwitchCase="EStatus.SUSPENDED">
                    <i class="fa-solid fa fa-toggle-off"></i>

                    <span class="badge bg-warning">Suspendido</span>
                  </div>

                  <!-- Si el estado es Pending -->
                  <div *ngSwitchCase="EStatus.PENDING">
                    <span class="badge bg-secondary">Pendiente</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
            <!-- Botón para eliminar usuario -->
            <button type="button" class="btn btn-danger btn-sm" (click)="deleteAdmin(admin)">
              <i class="fa fa-trash"></i>
            </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- PAGINATOR -->
<div class="row">
  <div class="col-sm-12">
    <pagination-controls (pageChange)="x = $event" previousLabel="Previo" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>