  <!-- TABLE -->
  <div class="row">

    <div class="col-sm-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Direccion</th>
            <th scope="col">Contacto</th>
            <th scope="col">Credenciales</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios  | paginate: { itemsPerPage: 30, currentPage: x }">

            <td>
              <b>{{ item.idCliente }}</b> {{ item.razonSocial }}
              <br><b>cuit :</b> {{ item.cuit }}
            </td>

            <td>
              {{ item.calleAndNumero }} {{ item.localidad }}
              <br> <b>Prov.: </b> {{ item.provincia }}
            </td>

            <td>
              {{ item.comprador }} {{ item.telefonoCelular }}
              <br> <b>Te. Linea:</b> {{ item.telefonoLinea }}
            </td>

            <td>
              {{ item.email }}
              <br><b>Contraseña: </b>{{ item.password }}
              <div [ngSwitch]="item.emailVerified">
                <div *ngSwitchCase="1">
                  <span class="badge bg-success">email verificado</span>
                </div>

                <div *ngSwitchCase="0">
                  <span class="badge bg-danger">email sin verificar</span>
                </div>
              </div>
            </td>
            <td>
              <div [ngSwitch]="item.estado">
                <div *ngSwitchCase="0">
                  <mat-slide-toggle (click)="update(item, 1)">
                    <span class="badge bg-danger">Deshabilitado</span>
                  </mat-slide-toggle>
                </div>
                <div *ngSwitchCase="1">
                  <mat-slide-toggle checked="checked" color="red" (click)="update(item, 0)">
                    <span class="badge bg-success">Habilitado</span>
                  </mat-slide-toggle>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-sm" (click)="capCliente(item)">
                <i class="fa fa-eye"></i>
              </button>
              &nbsp;
              <button type="button" class="btn btn-success btn-sm" (click)="carritearCliente(item)">
                <i class="fa fa-shopping-cart"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- PAGINATOR -->
  <div class="row">
    <div class="col-sm-12">
      <pagination-controls (pageChange)="x = $event" previousLabel="Previo" nextLabel="Siguiente">
      </pagination-controls>
    </div>
  </div>