<footer class="footer-20192 bg-azul mt-4">
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <a href="#" class="footer-logo">H BENELLI & CIA S.R.L.</a>
          <p class="copyright">
            <small>Fábrica de Hilo <br> Proveedores de la Industria Frigorifica</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Contacto</h3>
          <ul class="list-unstyled links">
            <li><a href="#">113-322-2370</a></li>
            <li><a href="#">4225-8389 / 8390</a></li>
            <li><a href="mailto:administracion@hbenelli.com.ar">administracion@hbenelli.com.ar</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>¿Donde Estamos?</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Gobernador Udaondo 2078</a></li>
            <li><a href="#">(1824) Lanús Oeste</a></li>
            <li><a href="#">Bs. As., Argentiana</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Nuestras Redes</h3>
          <div>
            <a href="https://www.facebook.com/" target="_blank"
              class="redes p-2 fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-facebook fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank"
              class="redes p-2 fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-linkedin fa-lg"></i>
            </a>
            <a href="https://www.instagram.com/hbenelliycia" target="_blank"
              class="redes p-2 fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-instagram fa-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>