/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: baloo;
    src: url(assets/fonts/Baloo-Regular.ttf) format("opentype");
  }

  @font-face {
    font-family: grotesk;
    src: url(assets/fonts/AribauGroteskTRIAL-Rg.otf) format("opentype");
  }

  @font-face {
    font-family: geometric;
    src: url(assets/fonts/Geometric706BlackBT.ttf) format("opentype");
  }