<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary rounded" aria-label="Twelfth navbar example">
  <div class="container container-fluid">
    <a class="nav-link" routerLink="/home">
      <img src="/assets/logo/logo.png" alt="" srcset="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
      aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" routerLink="/catalogo">Catálogo</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/catalogoadmin">CatálogoEdit</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>
      </ul>
      <!-- Mostrar nombre y logout solo si el usuario está logueado -->
      <ul class="navbar-nav ms-auto" *ngIf="currentUser !== null">
        <li class="nav-item">
          <a class="nav-link">Hola, {{ currentUser?.nombre }}</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()" [disabled]="isLoggingOut">
            Logout
            <span *ngIf="isLoggingOut" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>