<!--
    /////////////////////////////////////////  HILAMO LO BUENO, HILAMO 
 /////////////////////////////////////////  FOTO BENELLI -->
<app-carousel></app-carousel>

<div class="container">
  <div class="row featurette">
    <div class="col-md-8 order-md-1">
      <h2 class="featurette-heading fw-normal geometric lh-1">
        <p class="fs-1">
          ¿ Quienes Somos ?
        </p> <span class="text-body-secondary"></span>
      </h2>


      <p class="fs-4">
        En BENELLI, nos enorgullece contar con una sólida trayectoria en la industria textil, atendiendo a diversos
        sectores como frigoríficos, tejeduría, fasón, y más ..., y también en la elaboración de especias y aditivos para
        productos cárnicos.
        <br><br>
        Desde nuestros humildes comienzos en la década de 1980, hemos experimentado un crecimiento sostenido que nos ha
        convertido en un referente en todo el país. Nuestro compromiso con la calidad y la satisfacción del cliente nos
        impulsa a seguir innovando y ofrecer productos de excelencia en una amplia variedad de mercados.
        <br><br>
        Para descubrir cómo hemos evolucionado a lo largo de los años y conocer la visión que nos impulsa, te invitamos
        a visitarnos en:
        <br><br>
      </p>

      <div>
        <a href="https://www.facebook.com/" target="_blank"
          class="redes p-2 fs-30 cl7 hov-cl1 trans-04 m-r-16 logo-large">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank"
          class="redes p-2 fs-30 cl7 hov-cl1 trans-04 m-r-16 logo-large">
          <i class="fa fa-linkedin fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/hbenelliycia" target="_blank"
          class="redes p-2 fs-30 cl7 hov-cl1 trans-04 m-r-16 logo-large">
          <i class="fa fa-instagram fa-lg"></i>
        </a>


        <a class="btn btn-lg btn-primary" routerLink="nosotros">Más Sobre Nosotros</a>

      </div>


    </div>
    <div class="col-sm-3 order-md-2">
      <br><br><br>

      <div class="card">
        <div class="image-container">
          <img src="../../assets/home/benelli_chica.png" alt="" />
        </div>
      </div>
      <p> Hector Benelli, Fundador.</p>
    </div>
  </div>
</div>

<!--///////////////////////////////////////////////////////////////////////////////  COMPROMISO //////////////////////////////////////  -->

<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h2 class="featurette-heading fw-normal geometric lh-1 text-center">
        Nuestro Compromiso
      </h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons/briefcase.svg" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">Misión</h3>
          <p>
            Proveer productos de alta calidad en las áreas de especias, aditivos
            para productos cárnicos y textiles, satisfaciendo las necesidades de
            nuestros clientes y manteniendo estándares de excelencia.
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons/send.svg" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">Objetivos</h3>
          <p>
            Garantizar la calidad y seguridad de nuestros productos. Mantener
            relaciones cercanas y duraderas con nuestros clientes. Promover la
            mejora e innovación en nuestros procesos. Expandir nuestra presencia
            en nuevos mercados. Fomentar un ambiente de trabajo positivo y
            desarrollo profesional.
          </p>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons/shield_on.svg" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">Visión</h3>
          <p>
            Ser reconocidos como líderes en nuestra industria a nivel nacional e
            internacional, siendo una empresa innovadora y confiable que genera
            valor para nuestros clientes y comunidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--///////////////////////////////////////////////////////////////////////////////  ALIMENTICIOS ///////////////////////////////////////////////////////////  -->

<div class="alimenticios">
  <div class="my-5">
    <div class="p-5 text-center">
      <div class="container py-5">
        <h2 class="featurette-heading fw-normal geometric lh-1 text-center">
          Nuestros Productos Alimenticios
        </h2>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-5">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="assets/home/icons_alimenticio/spices.png" alt="" srcset="" />
            </div>
            <h3 class="fs-2">Especias</h3>
            <p>
              Ají Molido, Orégano, Provenzal, Condimento Para Pizza, Pimienta,
              Nuez Moscada, y más ...
            </p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="assets/home/icons_alimenticio/bolsa.png" alt="" srcset="" />
            </div>
            <h3 class="fs-2">Harinas y más</h3>
            <p>
              Fécula de Mandioca, Trigo, Gluten, Estabilizante y Emulsionante, Antioxidante, Glucamato, y más ...
            </p>
            <h3>&nbsp;</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="assets/home/icons_alimenticio/jamon.png" alt="" srcset="" />
            </div>
            <h3 class="fs-2">Integrales Saborizantes</h3>
            <p>Chorizo Fresco, Hamburguesa, Milanesa, Salame, Bondiola, y más ...</p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="assets/home/icons_alimenticio/salchi.png" alt="" srcset="" />
            </div>
            <h3 class="fs-2">Insumos</h3>
            <p>
              Tripas Para Embutidos, Celofán, Bolsas de Queso Para Cerdo, Red de
              Bondiola, y más ...
            </p>
            <h3>&nbsp;</h3>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="assets/home/icons_hilados/mas.png" alt="" srcset="" />
            </div>
            <h3 class="fs-2">Varios</h3>
            <p>
              Hamburguesas, Discos, Embutidos, Espuelas, Pinches, Palote, y más ...
            </p>
            <h3>&nbsp;</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--///////////////////////////////////////////////////////////////////////////////  HILADOS Y PAPELERIA ///////////////////////////////////////////////////////////  -->

<div class="hilados my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h2 class="featurette-heading fw-normal geometric lh-1 text-center">
        Nuestros Productos Textiles
      </h2>

      <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons_hilados/cono.png" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">
            Papelería, Frigorífico, Packaging, Artesanía, Veleros
          </h3>
          <div class="tab-pane" id="specifications">
            <br />
            <dl class="text-center">
              <dt>Productos:</dt>
              <dd>Atados, Decorativos
                <br />Pabilos
              </dd>
              <br />

              <dt>Hilaturas:</dt>
              <dd>Cruda, Colores, Pulidos
                <br />Parafinados.
              </dd>
              <br />

              <dt>Presentaciones:</dt>
              <dd>Bobinas 330, 500 y 900 gr <br />Ovillos 30, 50 y 100 gr</dd>
            </dl>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons_hilados/hilo.png" alt="" srcset="" />
          </div>

          <h3 class="fs-2 text-body-emphasis">Agroindustria
            <br /><br /><br />
          </h3>

          <div class="tab-pane" id="specifications">
            <br />
            <dl class="text-center">
              <dt>Productos:</dt>
              <dd>Piolín, Encañar, Enfadar <br />Costura de Bolsas.</dd>
              <br />

              <dt>Hilaturas:</dt>
              <dd>Algodón, Poliéster <br />Multifilamento.</dd>
              <br />

              <dt>Presentaciones:</dt>
              <dd>Conos de 180 gr y 2.50 kg <br />Bobinas</dd>
            </dl>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons_hilados/ball.png" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">Tejeduría
            <br /><br /><br />
          </h3>
          <div class="tab-pane" id="specifications">
            <br />
            <dl class="text-center">
              <dt>Productos:</dt>
              <dd>Tejido Plano, manual <br />Cordonería, Cintería.</dd>
              <br />

              <dt>Hilaturas:</dt>
              <dd>Algodón, Mezclas <br />Teñido, Vaporizado.</dd>
              <br />

              <dt>Presentaciones:</dt>
              <dd>Conos, Ovillos <br />Madejas</dd>
            </dl>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <img src="assets/home/icons_hilados/mas.png" alt="" srcset="" />
          </div>
          <h3 class="fs-2 text-body-emphasis">Fasón
            <br /><br /><br />
          </h3>
          <div class="tab-pane" id="specifications">
            <br />
            <dl class="text-center">
              <dt>Productos:</dt>
              <dd>Retorceduría, Vaporizado, Madejado, Ovillado, Enconado.</dd>
              <br />
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="https://wa.me/+541133222370?text=Hola, ¿cómo puedo ayudarte?" class="whatsapp" target="_blank">
  <i class="fa fa-whatsapp whatsapp-icon"></i></a>

<!--///////////////////////////////////////////////////////////////////////////////  listo para tu PEDIDO ///////////////////////////////////////////////////////////  -->

<div class="px-4 py-5 my-5 text-center">
  <h2 class="featurette-heading fw-normal geometric lh-1">
    ¿Listo para realizar tu pedido?
  </h2>

  <div class="col-lg-6 mx-auto mt-5">
    <p class="lead mb-4">
      Podes comunicarte con nosotros y te asesoraremos sin cargo.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-5">
      <p>
        <a class="btn btn-lg btn-primary" routerLink="/contacto">Contacto</a>
      </p>
    </div>
  </div>
</div>